{%- assign _excerpt_truncate = include.excerpt_truncate | default: 350 -%}
{%- assign _excerpt_type = include.excerpt_type -%}
{%- include snippets/get-locale-string.html key='READMORE' -%}
{%- assign _locale_readmore = __return -%}

{%- assign _sorted_list = include.articles | sort: 'date' | reverse -%}

<div class="article-list items">
  {%- if include.group_by == 'year' -%}
    {%- assign _current_year = '' -%}
    {%- for _article in _sorted_list -%}
      {%- assign _article_year = _article.date | date: "%Y" -%}
      {%- if _article_year != _current_year -%}
        {%- unless forloop.first -%}</ul></section>{%- endunless -%}
        <section><h2 class="article-list__group-header">{{ _article_year }}</h2><ul class="items">
        {%- assign _current_year = _article_year -%}
      {%- endif -%}
      <li class="item" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="item__content">
          {%- if include.show_info -%}
            <span class="item__meta">{{ _article.date | date: '%B %d, %Y' }}</span>
          {%- endif -%}
          <a itemprop="headline" class="item__header" href="{{ _article.url }}">{{ _article.title }}</a>
          {%- if _article.excerpt and include.show_excerpt -%}
            <div class="article__content" itemprop="description articleBody">
              {%- if _excerpt_type == 'html' -%}
                {{ _article.excerpt }}
              {%- else -%}
                {{ _article.excerpt | strip_html | strip | truncate: _excerpt_truncate }}
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if include.show_readmore -%}
            <p><a href="{{ _article.url }}">{{ _locale_readmore }}</a></p>
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
    </ul></section>
  {%- else -%}
    {%- for _article in _sorted_list -%}
      <li class="item" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="item__content">
          {%- if include.show_info -%}
            <span class="item__meta">{{ _article.date | date: '%B %d, %Y' }}</span>
          {%- endif -%}
          <a itemprop="headline" class="item__header" href="{{ _article.url }}">{{ _article.title }}</a>
          {%- if _article.excerpt and include.show_excerpt -%}
            <div class="article__content" itemprop="description articleBody">
              {%- if _excerpt_type == 'html' -%}
                {{ _article.excerpt }}
              {%- else -%}
                {{ _article.excerpt | strip_html | strip | truncate: _excerpt_truncate }}
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if include.show_readmore -%}
            <p><a href="{{ _article.url }}">{{ _locale_readmore }}</a></p>
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  {%- endif -%}
</div>